.container {
  width: 600px;
  border-radius: 3%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.title {
  margin-top: 0px;
  color: #fff;
}

.subtitle {
  color: #fff;
}
